.hero {
  width: 100%;
  background-color: #ccc;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
}

.logo {
  color: white;
  font-size: 28px;
}

span {
  color: #6a5acd;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  color: #6a5acd;
  transition: 0.3s;
}

button {
  border: none;
  background: #6a5acd;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
}

button:hover {
  transform: scale(1.3);
  cursor: pointer;
}
